<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
</head>
<body>
<table cellspacing="0" style="width:700px;font-size:14px;">
	<thead>
	<tr>
		<th colspan="2" align="center" style="text-align: center;"><h3>ЗАЯВЛЕНИЕ<br/> на возврат денежных средств</h3></th>
	</tr>
	<tr>
		<td colspan="2" align="right" style="text-align: right;">«<%= day %>» <%= month %> <%= year %> г.</td>
	</tr>
	<tr>
		<td colspan="2"><br/><br/><br/><br/><br/></td>
	</tr>
	<tr>
		<td colspan="2" align="left">Прошу Вас осуществить возврат денежных средств с моего лицевого счета на электронной торговой площадке ЕСТП СРО  по адресу в сети Интернет https://estp-sro.ru в размере <?= $model->sum ?> рублей (<?= $sum ?>).</td>
	</tr>
	<tr>
		<td colspan="2"><br/></td>
	</tr>
	<tr>
		<td colspan="2" align="left">Подтверждаю платежные реквизиты для перечисления средств:</td>
	</tr>
	<tr>
		<td colspan="2"><br/></td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Наименование организации</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->detail ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">ИНН</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->inn ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">КПП</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->kpp ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Лицевой счет</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->personal_account_id ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Расчетный счет</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->current_account ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Корреспондентский счет</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->bank->correspondent_account ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">БИК</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->bank->bik ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Название банка</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->bank->name ?></td>
	</tr>
	<tr>
		<td align="left" valign="top" style="border: 1px solid black; padding: 2px;">Адрес банка</td>
		<td style="border: 1px solid black; padding: 2px;"><?= $model->bank->address ?></td>
	</tr>
</table>
<table cellspacing="0" style="width:700px;font-size:14px;">
	<tbody>
	<tr>
		<td colspan="2"><br/><br/><br/><br/><br/></td>
	</tr>
	<tr>
		<td align="center" valign="top" style="text-align: center">______________________________________<br/><span style="font-size: 12px;">Подпись с указанием должности</span></td>
		<td align="center" valign="top" style="text-align: center">____________________/___________________________/</td>
	</tr>
	<tr>
		<td></td>
		<td><br/><br/><span style="font-size: 12px;">М.П.</span></td>
	</tr>
	</tbody>
</table>
</body>
</html>